.todo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: .1rem;
	margin-top: 1.3rem;

	.todo-title {
		width: 77%;
		font-weight: 400;
		display: flex;
		justify-content: space-between;
		text-decoration: none;
		border: 1px solid $darkmandarine;
		border-radius: .1rem;
		padding: .2rem;
		p {
			color: $mainColor;
		}
		b {
			color: $darkmandarine;
			font-weight: 600;
		}
	}
	.todo-btn-container {
		width: 23%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
